<!DOCTYPE html>
<html lang="en">

   <head>
      <meta charset="UTF-8">
      <meta name="viewport" content="width=device-width, initial-scale=1.0">
      <meta http-equiv="X-UA-Compatible" content="ie=edge">
      <title>{{appTitle}}</title>
      <link rel="stylesheet" href="/stylesheets/style.css" />
  
   </head>

   <body>

     <nav>
      <ul>
         <li id="to-left">
             <p><a href="/">Home page</a></p>
         </li>
         <li id="to-right">
             <a href="/games">Games</a>
             <a href="/userProfile">Profile</a>
          <form id="logout-form" action="/logout" method="POST">
            <button>Logout</button>
         </form>
         </li>
      </ul>
   </nav>

<div id="game-test">
  <div id="canvas-side">
{{{body}}}
  </div>
  <div id="comment-side">{{{main}}}
  </div>
</div>
<div id="game-description">
test3
</div>
<!---
{{#if userInSession}}
<form id="comment-form" action="/comment" method="post">
    <label>{{userInSession.username}}</label>
    <label> Add a comment
      <input type="text" name="content" placeholder="This game is great !" />
    </label>
 
    <button type="submit">Post</button>
</form>
{{/if}}


<table>
  <thead>
    <tr>
      <th>Tout les commentaires</th>
    </tr>
  </thead>
  <tbody>
   {{#each comments}}
      <tr>
        <td>{{this.content}}</td>
      </tr>
  {{/each}}
  </tbody>
</table>

   <script>
      // sélectionnez le formulaire avec l'identifiant unique "comment-form"
const commentForm = document.querySelector("#comment-form");

// ajoutez un écouteur d'événements pour l'événement de soumission de formulaire
commentForm.addEventListener("submit", (event) => {
  // empêchez la soumission du formulaire pour éviter le rechargement de la page
  event.preventDefault();

  // récupérez le contenue du formulaire du formulaire
  const formData = new FormData(commentForm);

  // envoyez la requête AJAX pour enregistrer le nouveau commentaire
  fetch("/comment", {
    method: "POST",
    body: formData,
  })
    .then((response) => {
      // traitez la réponse de la requête AJAX si nécessaire
    })
    .catch((error) => {
      console.error(error);
    });
});
   </script>
--->
   </body>

</html>