{{#with games}}
<div id="snake">
  <div class="game-intro">
    <h1>{{this.name}}</h1>
    <img src="{{this.logo}}" alt="Logo {{gameTitle}}" class="logo-img" />
      <br />
      <button id="start-button">Start your 3310!</button>
      <button id="reload-button">Reload the game</button>
      <p>Use arrows to control the Snake!</p>
      <br />
      <div class="arrow-8"></div>
    </div>
    <div id="game-board">
      <img
        id="phone3310"
        src="{{this.img1}}"
        alt="3310"
        class="logo-img"
      />
      <div id="game-over">
        <h1>Game Over</h1>
      </div>
      <!-- <canvas id="canvas" width="500" height="700"></canvas> -->
    </div>

    <a href="/">Next game</a>
</div>
      
<script src="{{this.jsFile}}"></script>
<link rel="stylesheet" href="{{this.cssFile}}" />

{{/with}}